body{
    background-color: rgb(255, 255, 255);
}
header{
    text-align: center;
    font-size: larger;
}
header p{
    text-align: right;
    font-family: fantasy;
}
footer{
    text-align: center;
    color:rgb(12, 57, 6);
    font-size: large;
}